  @font-face {
    font-family:'monofonto-i';
    font-weight:normal;
    font-style:normal;
    font-display:swap;
    src:url('regular-i.woff') format("woff");
  }

  .webfont-regular-i {
    font-family: 'monofonto-i', 'UnderscoreFallback' !important;
    line-height:1.2em;
    text-decoration:none;
    color:#0B0A0A !important;
    transition:all 0.5s ease-out;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  }
